<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />

    <title>Login</title>
  </head>
  <body>
  	<div class="span4">
  		<form method="POST">
  			<label>用户名: </label>
  			<input type="text" name="username" placeholder="用户名" />
  			<label>密  码: </label>
  			<input type="password" name="psw" placeholder="密  码" /></br>
  			<button type="submit" class="btn btn-primary">登录</button>
  		</form>
  	</div>
  </body>